language: android
dist: trusty
jdk:
  - oraclejdk8
android:
  components:
    - build-tools-28.0.3
    - android-28
before_install:
  - openssl aes-256-cbc -K $encrypted_80974c732029_key -iv $encrypted_80974c732029_iv -in google-services.json.enc -out app/google-services.json -d -md sha256
  - chmod +x gradlew
  - chmod +x gradle/wrapper/gradle-wrapper.jar
script:
  - ./gradlew test